*{
    box-sizing: border-box;
}
.info-form-outer{
    position: absolute;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 72%;
    height: 80%;
    display: grid;
    grid-template-columns: 37% auto;
    padding: 0;
    color: rgb(56, 56, 56);
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    overflow: hidden;
}

.info-form-outer .left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    grid-column: 1/2;
    padding: 40px;
    /* background-color: #f5c919; */
}
.left-box .title-icon{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 70px;
    line-height: 150px;
    text-align: center;
    color: white;
    /* background-color: #f39c12; */
}

.left-box h3{
    font-size: 1.6rem;
    font-weight: 600;
}

.left-box .right-arrow{
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 60px;
    color: white;
    text-align: center;
    background-color: #333;
}

/* ----------------------------left panel------------------------------------- */

.right-form{
    position: relative;
    padding: 50px;
   
}
.info-field{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
}

.input-field input, .input-field select{
    font-size: 1rem;
    padding: 12px 0 12px 20px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #ebeaea;
}
.input-field input{
    width: 100%;
}
.input-field input:focus{
    border: 2px solid #1fbee2;
}
.info-field select{
    padding-right: 20px;
}

.input-field input[type=date]{
    padding-right: 10px;
    width: auto;
}

.info-field label{
    color: rgb(121, 121, 121);
    font-weight: 600;
    grid-column: 1/2;
}


.right-form input[type=submit]{
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 1.1rem;
    float: right;
    padding: 13px 20px;
    border-radius: 2px;
    background-color: #27ae60;
    font-weight: 600;
    color: white;
}
.right-form input[type=submit]:hover{
    opacity: 0.8;
}

