
.info-form-outer .left-box{
    background-color: #feca57;
}
.left-box .title-icon{
    background-color: #ff9f43;
}
.list-wrapper ul li:nth-child(6){
    color: #63b8f1;
}
/* nav-bar-item-highlight */