
#book-adding-panel{
    background-color: none;
    padding: 20px 0 20px 15%;
    box-sizing: border-box;
}


.list-wrapper ul li:nth-child(5){
    color: #63b8f1;
}
/* nav-bar-item-highlight */

.extended-info-form-outer .top-bar button{
    display: none;
}
/* remove hide button */
.right-form input[type=submit]:nth-child(2){
    display: none;
}
/* hide delete button */