

#book-lending-panel{
    background-color: none;
    padding: 20px 0 20px 15%;
    box-sizing: border-box;
}

.info-form-outer .left-box{
    background-color: #1671ad;
}
.left-box .title-icon{
    background-color: #3498db;
}